@font-face {
  font-family: 'AgoniaLyubvi';
  src: url('public/fonts/AgoniaLyubvi/AgoniaLyubvi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('public/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('public/fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {

  font-family: 'PlayfairDisplay';
  src: url('public/fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'TrajanPro3';
  src: url('public/fonts/TrajanPro3/TrajanPro3Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
